{% extends 'main/base.html' %}
{% load static %}
{% block content %}

<div class="jumbotron">
<div class="container">
    <br>
    <br>



  <h1 class="display-4">HELLO EVERYONE</h1>
  <p class="lead">WELCOME TO MY WEBSITE.. I AM YOGESH!!!</p>
  <img src = "{% static 'main/images/IMG-20201108-WA0067.jpg' %}" width="180" height="200">
  <hr class="my-4">
  <p>I AM A EDITOR</p>
  <a class="btn btn-primary btn-lg" href="/contact" role="button">Contact Me!</a>
  <br>
  <br>
</div>

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Dharshini photography</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">


    </body>
      
	</head>
    
	<body>
	</body>

</html>
<br>
<br>


{% endblock %}